

.brand{

    display :flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin: 0px;
    padding :opx;
    font-size: 25px;
 
}
.brandspecifications{
    background: burlywood;
    margin: 20px auto;
    padding: 20px;
    min-width: 280px;
    border-radius: 20px;
    font-size: 40px;
    font-family: 'Audiowide', cursive;
    box-shadow: 3px 3px 10px 0px rgba(50,50,50,0.1);
}
.pagination{
    display :flex;
    flex-direction: row;
     align-items: center;
     justify-content: center;
     gap:10px;
}